@import './materialize.scss';

/* ========================= VARIABLES ======================== */

$light-grey: color("grey", "lighten-4");

/* ========================= GENERAL ======================== */

body {
	font-family: 'Open Sans', sans-serif;
}

/* ========================= HEADER ======================== */

.main-header {
	width: 100%;
	height: 100vh;
	min-height: 500px;
	position: relative;
	background: url('../img/tech-mobile.jpg') center/cover;

	@media (min-width:1000px){
		background-image: url('../img/tech.jpg');
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .8);
	}
}

nav {
	padding: 0 1.5rem;

	.brand-logo .material-icons {
		font-size: 56px;
	}

	// smallest devices
	@media (max-width: 500px) {
		.brand-logo {
			font-size: 1.4rem;
		}
		.brand-logo .material-icons {
			font-size: 24px;
		}
	}
}
