@import './materialize.scss';

/* ========================= VARIABLES ======================== */

$light-grey: color("grey", "lighten-4");


/* ========================= GENERAL ======================== */

body{
	font-family: 'Open Sans', sans-serif;
}


/* ========================= HEADER ======================== */

nav{
	padding: 0 1.5rem;
}