@import './materialize.scss';

/* ========================= VARIABLES ======================== */

$light-text: #f6f6f6;
$grey-text-light: lighten(color("grey", "darken-2"), 5%);
$grey-text-dark: darken(color("grey", "darken-2"), 5%);

/* ========================= GENERAL ======================== */

body {
	font-family: 'Open Sans', sans-serif;
}
.bold {
	font-weight: 700;
}
.btn-flat {
	background: $secondary-color;
	color: $light-text;
}
a {
	color: $primary-color;
}
.btn-xlarge {
	padding: .7rem 1.6rem;
	font-size: 1.5rem;
	height: initial;
	border-radius: .2rem;
}
h3 {
	margin-top: 2rem;
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .8);
}
h3 > span {
	text-transform: initial;
	color: $primary-color;
}

.container-large {
	width: 95%;
	margin: 0 auto;
}

.mobile {
	display: none;
}
.desktop {
	display: block;
}

@media (max-width: 1000px) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

/* ========================= HEADER ======================== */

.main-header {
	width: 100%;
	height: 100vh;
	min-height: 500px;
	position: relative;
	background: url('../img/tech-mobile.jpg') center/cover;

	@media (min-width: 1000px) {
		background-image: url('../img/tech.jpg');
	}
}

nav {
	padding: 0 1.5rem;
	.brand-logo .material-icons {
		font-size: 56px;
	}

	.btn-flat:active,
	.btn-flat:hover {
		background: lighten($secondary-color, 15%);
	}

	// smallest devices
	@media (max-width: 500px) {
		.brand-logo {
			font-size: 1.4rem;
		}
		.brand-logo .material-icons {
			font-size: 24px;
		}
	}
}
.navbar-fixed a.active {
	background: $primary-color-dark;
}

/* Side-nav */
.sidenav {
	background: $light-text;
	color: $grey-text-light;

	.logo {
		h3 {
			margin-top: 2rem;
			font-size: 2.5rem;
			text-transform: uppercase;
			letter-spacing: .2rem;
		}
		display: flex;
		justify-content: center;
		padding: 60px 0;
		margin-bottom: 1rem;

		i,
		a {
			color: $light-text;
			font-size: 2rem;
		}
		.material-icons {
			font-size: 3rem;
		}
	}
	a.active {
		background: $primary-color-light;
	}
	li > a:hover {
		background: rgba($primary-color-light, .3);
	}
	.login-container {
		margin-top: 1rem;
		padding: 0 32px;
	}
}

/* ShowCase */
.showcase {
	.main-title {
		font-size: 6rem;
		margin-top: 20%;
		letter-spacing: .2rem;
		color: $grey-text-dark;
	}
	h4 {
		color: $grey-text-light;
	}
	.btn-xlarge {
		margin: 3rem 0;
	}
}
/* ==================== FIXED ACTION BUTTON ========================== */

.fixed-action-btn .btn-large {
	background: $accent;
}

/* ==================== LOGIN MODAL ========================== */

#login-modal {
	max-width: 500px;
	min-width: 350px;
	.logo {
		color: $primary-color;
		display: flex;
		justify-content: center;
	}

	.logo .material-icons {
		font-size: 42px;
		line-height: 28px;
		height: 42px;
	}
}

/* ==================== ABOUT SECTION ========================== */

section#about {
	position: relative;
	width: 100%;
	//height: 100vh;
	//background: $light-text;
}

#about .carousel {
	min-height: 500px !important;
	@media (max-width: 400px) {
		min-height: 600px !important;
	}

	.divider {
		background: $accent;
	}
	p {
		margin-top: 2rem;
		color: $grey-text-light;
	}
	.indicator-item {
		background: $accent;
		&.active,
		&:hover {
			background: lighten($accent, 10%);
		}
	}
	img {
		margin-top: 3rem;
		width: 90%;
	}
}
/* ==================== FEATURES SECTION ========================== */

section#features {
	min-height: 850px;
	padding-top: 4rem;
	background: $light-text;

	.tab-content {
		padding-top: 3rem;
		h5 {
			color: $primary-color;
		}
		p {
			color: $grey-text-light;
		}
	}

	.tabs {
		margin-top: 3rem;
		background: $light-text;
		display: flex;
		justify-content: center;
	}
	.card {
		margin-top: 5rem;
	}
	.card i {
		line-height: 40px;
	}
	.card-action a {
		color: $accent;
	}
	.card p {
		color: $grey-text-light;
	}
	.card-reveal p {
		padding-top: 2rem;
	}
}

section#solutions {
	padding-top: 4rem;

	.row > .s6 {
		margin-top: 4rem;
	}
	.col.hide-on-med-and-down {
		margin-top: 6rem;
	}
	.collection {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.collection-header {
		background: $secondary-color;
		color: $light-text;
	}

	.collection-item img {
		width: 50px;
		margin-left: -20px;
		margin-right: 10px;
	}
	.collection-item div {
		color: $grey-text-light;
		font-size: 18px;
		display: flex;
		align-items: center;
	}
	.secondary-content {
		display: block;
		margin-left: auto;
		color: $secondary-color;
	}
	.card {
		cursor: pointer;
		padding: 2rem;
	}
	div.card-header {
		font-size: 3rem;
		text-align: center;
		padding: 1rem;
		color: $primary-color;
	}
	.card p {
		color: $grey-text-light;
	}
}

section#clients {
	.row {
		margin-top: 5rem;
	}
}

section#invitation {
	padding: 4rem;

	.col {
		position: relative;
	}
	img {
		width: 100%;
	}
	.invitation-card {
		padding: 2rem 0;
		background: white;
		text-align: center;

		h5 {
			margin-top: 1rem;
			line-height: 1.5;
			color: $primary-color-dark;
		}
		p {
			color: $grey-text-light;
			margin: 3rem 1rem 3rem 0;
		}

		.btn {
			min-width: 250px;
			margin-top: auto;
			background: $accent;
		}
	}
	@media (min-width: 1201px) {
		.fixed {
			position: absolute;
			bottom: 2rem;
			width: 100%;
		}
		.row {
			display: flex;
			flex-wrap: wrap;
		}
		.invitation-card {
			position: absolute;
			width: 160%;
			height: 90%;
			z-index: 1;
			left: 0;
			top: 5%;
			text-align: left;
		}
	}
	@media (min-width: 1301px) {
		.invitation-card {
			width: 150%;
			height: 80%;
			top: 10%;
		}
	}
	@media (min-width: 1500px) {
		.invitation-card {
			width: 130%;
			height: 70%;
			top: 15%;
		}
	}
}
